<div style="position: absolute;background: #fff; width: 1192px;height: 1200px;">
  <div class="new_enterprise_title">创建仓储信息</div>
    <% if params[:number].present? %>
      <%= render 'enterprises/title' %>
    <% else %>
      <div style="height: 80px;"></div>
    <% end %>
    <%= render "form", material_reserf: @material_reserf %>
    <br>
  </div>
  <div style="height: 80px;"></div>
</div>
<style>
.new_enterprise_title {
  font-size: 22px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #1D2129;
  margin-left: 38px;
  margin-top: 40px;
  line-height: 30px;
  position: absolute;
}
</style>
