<h1>Editing warn setting</h1>

<%= render "form", warn_setting: @warn_setting %>

<br>

<div>
  <%= link_to "Show this warn setting", @warn_setting %> |
  <%= link_to "Back to warn settings", warn_settings_path %>
</div>
