<h1>Editing goods warn</h1>

<%= render "form", goods_warn: @goods_warn %>

<br>

<div>
  <%= link_to "Show this goods warn", @goods_warn %> |
  <%= link_to "Back to goods warns", goods_warns_path %>
</div>
