<div style="margin-top: 12px;">
  <table class='table table-hover table-bordered'>
    <tr style="background: #FAFAFA;;">
      <th></th>
      <th style="th_name">鲜奶</th>
      <th style="th_name">蔬菜</th>
      <th style="th_name">方便面</th>
      <th style="th_name">饮用水</th>
      <th style="th_name">民用口罩</th>
      <th style="th_name">消毒液</th>
      <th style="th_name">洗涤用品</th>
      <th style="th_name">香皂</th>
      <th style="th_name">卫生纸</th>
    </tr>
    <tr>
      <td style="display: flex;">
        <div class="color_table">
        </div>
        <span class="td_name">
          3月4日销售量（吨）
        </span>
      </td>
      <td class="td_data">359133</td>
      <td class="td_data">411063.2</td>
      <td class="td_data">310366</td>
      <td class="td_data">181875.11</td>
      <td class="td_data">510051</td>
      <td class="td_data">511360</td>
      <td class="td_data">315530</td>
      <td class="td_data">210847</td>
      <td class="td_data">117803</td>
    </tr>
    <tr>
      <td style="display: flex;">
        <div class="color_table" style="background: #14C9C9;">
        </div>
        <span class="td_name">
          3月5日销售量（吨）
        </span>
      </td>
      <td class="td_data">155001</td>
      <td class="td_data">517880.12</td>
      <td class="td_data">345079</td>
      <td class="td_data">210448.36</td>
      <td class="td_data">627100</td>
      <td class="td_data">311425</td>
      <td class="td_data">413172</td>
      <td class="td_data">301110</td>
      <td class="td_data">227651</td>
    </tr>
    <tr>
      <td style="display: flex;">
        <%= image_tag 'rate_up_or_down.png', class: 'rate_up_or_down_png' %>
        <span class="td_name">
          环比（增）降幅
        </span>
      </td>
      <td class="td_data">-1666.99</td>
      <td class="td_data">12223.6</td>
      <td class="td_data">155525.52</td>
      <td class="td_data">17774.73</td>
      <td class="td_data">-11311.06</td>
      <td class="td_data">-3333.31</td>
      <td class="td_data">23333.05</td>
      <td class="td_data">50555.73</td>
      <td class="td_data">27778.87</td>
    </tr>
    <tr>
      <td colspan="2" style="display: flex;">
        <%= image_tag 'rate_sales_data.png', class: 'rate_up_or_down_png' %>
        <span class="td_name">
          环比销售量差额
        </span>
      </td>
      <td class="td_data">-14132</td>
      <td class="td_data">14441.92</td>
      <td class="td_data">41713</td>
      <td class="td_data">11573.25</td>
      <td class="td_data">-77833</td>
      <td class="td_data">-11711.00</td>
      <td class="td_data">81199</td>
      <td class="td_data">16833</td>
      <td class="td_data">49621</td>
    </tr>
  </table>
</div>
