<div id="chart-container"></div>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    var chartData = [
      { name: '大米', y: 10 },
      { name: '面粉', y: 8 },
      { name: '食用', y: 6 },
      { name: '蔬菜', y: 12 },
      { name: '猪肉', y: 5 },
      { name: '羊肉', y: 3 },
      { name: '鸡肉', y: 7 },
      { name: '鸡蛋', y: 9 },
      { name: '鲜奶', y: 4 },
      { name: '方便面', y: 15 },
      { name: '牛肉', y: 2 },
      { name: '水果', y: 11 }
    ];

    Highcharts.chart('chart-container', {
      chart: {
        type: 'pie'
      },
      title: {
        text: null //'食品消费饼状图'
      },
      plotOptions: {
        pie: {
          innerSize: '20%'
        }
      },
      tooltip: {
        pointFormat: '{point.name}: {point.y:.2f} 吨' // 将提示框内容设置为 chartData 的名称和值，并添加单位
      },
      series: [{
        name: '食品',
        data: chartData,
        showInLegend: false // 不显示 series 的名称
      }]
        /*
      series: [{
        name: chartData['name'],
        data: chartData
      }]
        */
    });
  });
</script>
